  @import '../../module';

  .modal-form__content__fieldset {
      padding: 5px 10px 10px 10px;
      border: 1px solid rgba($color: #000000, $alpha: 0.2);

      & legend {
          @include text-style();
          padding: 0 5px;
      }
  }