@import '../../module';

.modal-form {
    @include flex-constructor(column nowrap, flex-start, center);
    font-family: Arial,
        Helvetica,
        sans-serif;
    height: 500px;
    background-color: #fff;
    padding: 0;
    border: none;
    border-radius: 5px;
}