@import '../../module';

.modal-form {
    @include flex-constructor(column nowrap, flex-start);
    font-family: Arial,
        Helvetica,
        sans-serif;
    height: 500px;
    background-color: #fff;
    padding: 0;
    border: none;
    border-radius: 5px;

    .modal-form__content {
        @include flex-constructor(column nowrap, flex-start);
        padding: 10px 15px;

        &>* {
            margin-bottom: 10px;
        }

        &:last-child {
            margin-bottom: 0;
        }

        .modal-form__content__well-text {
            @include text-style();
            margin-top: 0;
        }
    }
}