@mixin flex-constructor ($flow: row nowrap, $jusCont: flex-start, $alItems: stretch, $alContent:stretch) {
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    flex-flow: $flow;
    justify-content: $jusCont;
    align-items: $alItems;
    align-content: $alContent;
}

@mixin cursor($cursor: pointer) {
    cursor: default;

    &:hover {
        cursor: $cursor;
    }
}

@mixin text-style($fontSize: 14px, $fontWeight: 400, $color: #000) {
    color: $color;
    font-size: $fontSize;
    font-weight: $fontWeight;
}

@mixin dodger-blue($opacity: 1) {
    background-color: rgba(#1E90FF, $opacity);
}


.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}