  @import '../../module';

  .modal-form__header {
      @include flex-constructor(row nowrap, space-between, center);
      @include dodger-blue();
      @extend .unselectable;
      border-radius: 5px 5px 0 0;
      padding: 15px 10px;

      &>* {
          white-space: nowrap;
      }

      .modal-form__header__text {
          @include text-style(16px, 700, #fff);
          margin: 0;
          padding: 0;
      }

      .modal-form__header__button-container {
          margin-left: 20px;

          &>svg {
              @include cursor();
              width: 16px;
              height: 16px;
              margin-left: 10px;
              fill: rgba($color: #fff, $alpha: 0.7);
              stroke: rgba($color: #fff, $alpha: 0.7);

              &:hover {
                  fill: rgba($color: #fff, $alpha: 1);
                  stroke: rgba($color: #fff, $alpha: 1);
              }
          }
      }
  }